spring:
  application:
    name: backend

  datasource:
    url: jdbc:mysql://localhost:3306/kimc
    username: kimcadmin
    password: 1998

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

# Swagger Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
