spring:
  application:
    name: backend

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

# Swagger Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
